* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.inner-container {
  display: flex;
  flex-direction: column;
  height: 900px;
}
.container-1 {
  justify-content: flex-start;
}

.container-2 {
  justify-content: center;
}

.container-3 {
  justify-content: flex-end;
}

.box {
  background: black;
  width: 300px;
  height: 300px;
}
